.drag-drop-item{
    display: inline-block;
    color: #fff;
    background-color: #5cb85c;
    border-color: #4cae4c;
    text-align: center;
    vertical-align: middle;
    background-image: none;
    white-space: nowrap;
    font-size: 14px;
    line-height: 1.42857143;
    border-radius: 4px;
    min-width: 80px;
    cursor: pointer;
}
.drag-drop-paragraph-wrapper .drag-drop-item.ui-droppable{
    line-height: 25px;
    position: relative;
    top: -2px;
}
.drag-drop-recommend-wrapper{
    float: left;
    padding: 10px;
    margin: 0px 0 0px 0;
    background-color: #d9edf7;
    border-color: #bce8f1;
    width: 100%;
    min-height: 54px;
}
.drag-drop-recommend-wrapper .drag-drop-item{
    float: left;
    margin: 5px;
    padding: 5px 8px;
}
.drag-drop-paragraph-wrapper{
    float: left;
    padding: 20px;
    line-height: 2em;
    width: 100%;
    min-height: 200px;
}
.drag-drop-paragraph-wrapper .drag-drop-drop-able{
    display: inline-block;
    margin: 0 5px 0 5px;
    text-align: center;
    line-height: 1.2em;
    min-width: 80px;
    height: 23px;
    border-bottom: 1px solid #333333;
}
.drag-drop-paragraph-wrapper .drag-drop-item{
    padding: 0 5px;
}
.drag-drop-placeholder{

}