.drag-drop-dialog-item{
    display: inline-block;
    color: #fff;
    background-color: #5cb85c;
    border-color: #4cae4c;
    text-align: left;
    vertical-align: middle;
    background-image: none;
    white-space: nowrap;
    font-size: 14px;
    border-radius: 4px;
    min-width: 200px;
    cursor: pointer;
    height: 27px;
    line-height: 27px;
}
.drag-drop-dialog-recommend-wrapper {
    padding: 20px;
    background-color: #EEEEEE;
    border-color: #A0A0A0;
    width: 50%;
    min-height: 54px;
}
.drag-drop-dialog-recommend-wrapper .drag-drop-dialog-item{
    float: left;
    clear: both;
    margin: 5px;
    padding: 3px 8px;
}
.drag-drop-dialog-paragraph-wrapper{
    padding: 20px;
    line-height: 2em;
    width: 50%;
    min-height: 200px;
}
.drag-drop-dialog-paragraph-wrapper .drag-drop-dialog-drop-able{
    display: inline-block;
    text-align: left;
    line-height: 25px;
    margin: 0 5px 0 5px;
    min-width: 200px;
    height: 25px;
    border-bottom: 1px solid #333333;
}
.drag-drop-dialog-paragraph-wrapper .drag-drop-dialog-item{
    padding: 0 5px;
}
.drag-drop-dialog-placeholder{

}