#content-scrollable *{
    outline: none;
}

.sub-header {
    padding-bottom: 15px;
    border-bottom: 1px solid #eee;
    color: #229074;
}

.sub-header span {
    font-size: 24px;
    font-weight: normal;
    color: #797979;
}

#fight-quiz .sidebar {
    border-left: 1px solid #eee;
}

.nav-sidebar {
    margin-right: -21px; /* 20px padding + 1px border */
    margin-bottom: 20px;
    margin-left: -20px;
}

.nav-sidebar > li > a {
    padding-right: 20px;
    padding-left: 20px;
}

.nav-sidebar > .active > a {
    color: #fff;
    background-color: #428bca;
}

.main .page-header {
    margin-top: 0;
}

#content-scrollable {

    min-height: 350px;
    line-height: 2em;
    border-bottom: 1px solid #eee;
    overflow-y: auto;
}

#content-scrollable #quiz-extra-content, #content-scrollable #quiz-answer-content {

}

@media (max-width: 1024px) {
    #content-scrollable {
        height: 440px;
    }
}

.question-checkbox span {
    position: relative;
    margin-left: 8px;
    top: -5px;
}

.quiz_single_choice label span {
    font-weight: bold;
    margin-left: 10px;
    position: relative;
    top: 3px;
}

.progress {
    margin-bottom: 0;
}

.col-lg-6 .btn-group-justified .btn-group {
    padding: 5px;
}

.col-lg-6 .btn-group-justified .btn-group .btn {
    text-transform: uppercase;
}

/*
 * Placeholder dashboard ideas
 */
.placeholders {
    margin-bottom: 30px;
    text-align: center;
}

.placeholders h4 {
    margin-bottom: 0;
}

.placeholder {
    margin-bottom: 20px;
}

.placeholder img {
    display: inline-block;
    border-radius: 50%;
}

/*
 * Question List
 */
#question-list-wrapper {
    margin-top: 20px;
}

#question-list {
    padding: 0;
    margin: auto;
    list-style: none;
    min-height: 320px;
    overflow: auto;
}

#question-list li {
    float: left;
    margin: 3px;
}

#question-list li button {
    width: 40px;
}

/*
 * Portrait
 */
#portrait {
    text-align: center;
}

#portrait img {
    width: 110px;
    margin: 0 auto 5px auto;
}

/*
 * Question Description
 */
#side-bar-question-des ul {
    padding: 0;
    margin: auto;
    list-style: none;
    white-space: nowrap;
    min-height: 100px;
}

#side-bar-question-des li {
    float: left;
}

#side-bar-question-des li button {
    width: 25px;
    height: 25px;
    margin-bottom: 5px;
    margin-right: 10px;
    cursor: auto;
}