.dropdown-submenu {
    position: relative;
}

.dropdown-submenu > .dropdown-menu {
    top: 0;
    left: 100%;
    margin-top: -6px;
    margin-left: -1px;
    border-radius: 6px 6px 6px 6px;
}

.dropdown-toggle img{
    background: #fff;
}

.dropdown-submenu:hover > .dropdown-menu {
    display: block;
}

.white {
    color: #fff;
}

/*404 Not Found*/
.not-found-404 {
    margin-top: 50px;
    position: relative;
    z-index: 1000;
}

#redirect-404 {
    margin-top: 30px;
}

#redirect-404 a {
    color: #fff;
    font-size: 18px;
    text-decoration: none;
    -webkit-transition: all 0.7s ease;
    transition: all 0.7s ease;
    line-height: 40px;
}

#redirect-404 a:hover {
    text-shadow: 0 0 15px #383838;

}

#redirect-404 a:hover i {
    color: #FFDC56;
}

#balloons-404 {
    position: fixed;
    top: 50px;
    left: 0;
    z-index: 1;
}

#quotations {
    margin-top: 30px;
    font-size: 18px;
    font-weight: bold;
    color: #fff;
    font-family: 'Lato', Arial, sans-serif;
}

#quotations-author {
    color: #767676;
    font-weight: bold;
}

/*End 404 Not Found*/

/*Social login button*/
/*--------------- Facebook Button ---------------*/
.btn-facebook {
    color: #ffffff;
    background-color: #3b5998;
    border-color: rgba(0, 0, 0, 0.2);
}

.btn-facebook:hover,
.btn-facebook:focus,
.btn-facebook.focus,
.btn-facebook:active,
.btn-facebook.active,
.open > .dropdown-toggle.btn-facebook {
    color: #ffffff;
    background-color: #2d4373;
    border-color: rgba(0, 0, 0, 0.2);
}

.btn-facebook:active,
.btn-facebook.active,
.open > .dropdown-toggle.btn-facebook {
    background-image: none;
}

/*--------------- Google Plus Button ---------------*/
.btn-google-plus {
    color: #ffffff;
    background-color: #dd4b39;
    border-color: rgba(0, 0, 0, 0.2);
}

.btn-google-plus:hover,
.btn-google-plus:focus,
.btn-google-plus.focus,
.btn-google-plus:active,
.btn-google-plus.active,
.open > .dropdown-toggle.btn-google-plus {
    color: #ffffff;
    background-color: #c23321;
    border-color: rgba(0, 0, 0, 0.2);
}

.btn-google-plus:active,
.btn-google-plus.active,
.open > .dropdown-toggle.btn-google-plus {
    background-image: none;
}

/*Footer*/
footer {
    padding-top: 15px;
    padding-bottom: 10px;
    margin-top: 25px;
    color: #fff;
    text-align: center;
    border-top: 1px solid #e5e5e5;
    background: #229074;
}

footer a {
    color: #eea236;
}

footer a:hover {
    color: #eea236;
}

/*Override Bootstrap*/
body {
    color: #797979;
}

a {
    color: #00B992;
}

a:focus, a:hover {
    color: #02715A;
    text-decoration: underline;
}

h1, p.under-heading {
    color: #524F4D;
}

p.under-heading {
    font-size: 16px;
}

.qt-user img {
    border-radius: 50%;
}

.navbar-default .navbar-toggle .icon-bar {
    background-color: #FFF;
}

.navbar-default .navbar-toggle:focus, .navbar-default .navbar-toggle:hover {
    background-color: #1ABD9B;
}

.navbar-default .navbar-nav > .open > a, .navbar-default .navbar-nav > .open > a:focus, .navbar-default .navbar-nav > .open > a:hover {
    /*background-color: #00B992;*/
    background-color: #229074;
    color: #fff;
}

.dropdown-menu > li > a {
    color: #0C755F;
}

.dropdown-menu > li > a:focus, .dropdown-menu > li > a:hover {
    color: #0C755F;
    text-decoration: none;
    background-color: #f5f5f5;
}

.container-fluid .btn-header-extra-mobile a {
    color: #fff;
}

.container-fluid .btn-header-extra-mobile {
    float: right;
    padding-right: 10px;
    margin-top: 5px;
    display: inline-block;
    position: relative;
}

.nav.navbar-nav.navbar-right i {
    font-size: 18px;
}

.btn-header-extra {
    float: right;
    margin-top: 14px;
    position: relative;
    z-index: 10000000;
}

.btn-header-extra i {
    font-size: 20px;
    color: #fff;
}

.btn-header-extra a.btn-notification-item {
    position: relative;
}

span.btn-header-extra-notification {
    position: absolute;
    font-size: 11px;
    min-width: 13px;
    border-radius: 3px;
    color: #fff;
    display: block;
    line-height: 14px;
    height: 14px;
    padding: 0 2px;
    background-color: #E0676D;
    text-shadow: 0 -1px 0 rgba(0, 0, 0, .4);
    top: -10px;
    right: -12px;
    text-align: center;
}

#notification-items li:nth-child(odd) {
    background: #F8F8F8;
}

#notification-items li {
    float: left;
    width: 100%;
    padding: 10px;
    border-bottom: 1px solid rgb(224, 224, 224);
}

#notification-items {
    display: block;
    position: absolute;
    float: left;
    top: 36px;
    right: -10px;
    width: 280px;
    padding: 0;
    list-style: none;
    text-align: left;
    background: #fff;
    box-shadow: 0 4px 5px 0 rgba(0, 0, 0, 0.14), 0 1px 10px 0 rgba(0, 0, 0, 0.12), 0 2px 4px -1px rgba(0, 0, 0, 0.4);
}

#notification-items a {
    float: left;
    display: block;
    width: 100%;
    height: 100%;
    text-decoration: none;
    font-size: 13px;
    color: rgba(0, 0, 0, 0.46);
}

#notification-items li.text-center {
    padding: 5px;
}

#notification-items .timeago:before {
    content: '\2022';
    color: #00A65A;
    font-size: 20px;
    line-height: 18px;
    float: left;
    margin-right: 2px;
}

.notification-item-image {
    height: 50px;
    width: 50px;
    -webkit-box-flex: 0;
    -ms-flex: 0 0 50px;
    -webkit-flex: 0 0 50px;
    flex: 0 0 50px;
    float: left;
    margin-right: 10px;
}

.notification-item-image img {
    border-radius: 48%;
}

.container-fluid .btn-header-extra span.item-header-btn, .container-fluid .btn-header-extra-mobile span.item-header-btn {
    font-size: 22px;
    display: inline;
    line-height: 40px;
    padding: 0 4px;
}

.notification-items-open {
    display: block !important;
}

/*.navbar-default .navbar-brand, .navbar-default .navbar-nav > li > a > span{*/
/*display: none;*/
/*}*/

/*ul.nav.navbar-nav.navbar-right > li > a{*/
/*font-size: 22px;*/
/*padding: 10px 5px;*/
/*}*/

.panel-primary {
    border-color: #1ABD9B;
}

.panel-primary > .panel-heading {
    color: #fff;
}

.btn.btn-default {
    background-color: #1ABD9B;
    color: #fff;
    border: 1px solid #1ABD9B;
}

.btn.btn-default:hover {
    background-color: #09B390;
}

.user-control {
    margin-top: 50px;
}

h1 span {
    color: #fff;
}

h3.subtitle {
    text-align: center;
    margin-bottom: 20px;
    font-family: 'Lato', Arial, sans-serif;
    font-weight: 400;
    font-size: 2em;
    color: rgba(0, 0, 0, 0.35)
}

.user-control h3 {
    text-align: center;
    margin-bottom: 20px;
    font-family: 'Lato', Arial, sans-serif;
    font-weight: 400;
    font-size: 2.5em;
    color: rgba(0, 0, 0, 0.35)
}

.navbar-default {
    background: #229074;
    border-color: #32CEB5;
}

.navbar-default .navbar-brand, .navbar-default .navbar-nav > li > a {
    color: #fff;
    font-size: 14px;
}

.navbar-default .navbar-brand {
    font-size: 24px;
}

.navbar-default .navbar-brand:hover {
    color: orange;
}

.navbar-default .navbar-nav > li > a:hover {
    color: rgba(254, 254, 254, 0.72);
}

.navbar {
    margin-bottom: 0;
}

/*
 * Component: Box
 * --------------
 */
.box {
    position: relative;
    background: #ffffff;
    border-top: 3px solid #d2d6de;
    margin-bottom: 20px;
    width: 100%;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
}

.box.box-primary {
    border-top-color: #229074;
}

.box.box-info {
    border-top-color: #00c0ef;
}

.box.box-danger {
    border-top-color: #dd4b39;
}

.box.box-warning {
    border-top-color: #f39c12;
}

.box.box-success {
    border-top-color: #00a65a;
}

.box.box-default {
    border-top-color: #d2d6de;
}

.box.collapsed-box .box-body,
.box.collapsed-box .box-footer {
    display: none;
}

.box .nav-stacked > li {
    border-bottom: 1px solid #f4f4f4;
    margin: 0;
}

.box .nav-stacked > li:last-of-type {
    border-bottom: none;
}

.box.height-control .box-body {
    max-height: 300px;
    overflow: auto;
}

.box .border-right {
    border-right: 1px solid #f4f4f4;
}

.box .border-left {
    border-left: 1px solid #f4f4f4;
}

.box.box-solid {
    border-top: 0px;
}

.box.box-solid > .box-header .btn.btn-default {
    background: transparent;
}

.box.box-solid > .box-header .btn:hover,
.box.box-solid > .box-header a:hover {
    background: rgba(0, 0, 0, 0.1) !important;
}

.box.box-solid.box-default {
    border: 1px solid #d2d6de;
}

.box.box-solid.box-default > .box-header {
    color: #444444;
    background: #d2d6de;
    background-color: #d2d6de;
}

.box.box-solid.box-default > .box-header a,
.box.box-solid.box-default > .box-header .btn {
    color: #444444;
}

.box.box-solid.box-primary {
    border: 1px solid #3c8dbc;
}

.box.box-solid.box-primary > .box-header {
    color: #ffffff;
    background: #3c8dbc;
    background-color: #3c8dbc;
}

.box.box-solid.box-primary > .box-header a,
.box.box-solid.box-primary > .box-header .btn {
    color: #ffffff;
}

.box.box-solid.box-info {
    border: 1px solid #00c0ef;
}

.box.box-solid.box-info > .box-header {
    color: #ffffff;
    background: #00c0ef;

}

.box.box-solid.box-info > .box-header a,
.box.box-solid.box-info > .box-header .btn {
    color: #ffffff;
}

.box.box-solid.box-danger {
    border: 1px solid #dd4b39;
}

.box.box-solid.box-danger > .box-header {
    color: #ffffff;
    background: #dd4b39;

}

.box.box-solid.box-danger > .box-header a,
.box.box-solid.box-danger > .box-header .btn {
    color: #ffffff;
}

.box.box-solid.box-warning {
    border: 1px solid #f39c12;
}

.box.box-solid.box-warning > .box-header {
    color: #ffffff;
    background: #f39c12;

}

.box.box-solid.box-warning > .box-header a,
.box.box-solid.box-warning > .box-header .btn {
    color: #ffffff;
}

.box.box-solid.box-success {
    border: 1px solid #00a65a;
}

.box.box-solid.box-success > .box-header {
    color: #ffffff;
    background: #00a65a;
}

.box.box-solid.box-success > .box-header a,
.box.box-solid.box-success > .box-header .btn {
    color: #ffffff;
}

.box.box-solid > .box-header > .box-tools .btn {
    border: 0;
    box-shadow: none;
}

.box.box-solid[class*='bg'] > .box-header {
    color: #fff;
}

.box .box-group > .box {
    margin-bottom: 5px;
}

.box .knob-label {
    text-align: center;
    color: #333;
    font-weight: 100;
    font-size: 12px;
    margin-bottom: 0.3em;
}

.box > .overlay,
.overlay-wrapper > .overlay,
.box > .loading-img,
.overlay-wrapper > .loading-img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.box .overlay,
.overlay-wrapper .overlay {
    z-index: 50;
    background: rgba(255, 255, 255, 0.7);
    border-radius: 3px;
}

.box .overlay > .fa,
.overlay-wrapper .overlay > .fa {
    position: absolute;
    top: 50%;
    left: 50%;
    margin-left: -15px;
    margin-top: -15px;
    color: #000;
    font-size: 30px;
}

.box .overlay.dark,
.overlay-wrapper .overlay.dark {
    background: rgba(0, 0, 0, 0.5);
}

.box-header:before,
.box-body:before,
.box-footer:before,
.box-header:after,
.box-body:after,
.box-footer:after {
    content: " ";
    display: table;
}

.box-header:after,
.box-body:after,
.box-footer:after {
    clear: both;
}

.box-header {
    color: #444;
    display: block;
    padding: 10px;
    position: relative;
}

.box-header.with-border {
    border-bottom: 1px solid #f4f4f4;
}

.collapsed-box .box-header.with-border {
    border-bottom: none;
}

.box-header > .fa,
.box-header > .glyphicon,
.box-header > .ion,
.box-header .box-title {
    display: inline-block;
    font-size: 18px;
    margin: 0;
    line-height: 1;
}

.box-header > .fa,
.box-header > .glyphicon,
.box-header > .ion {
    margin-right: 5px;
}

.box-header > .box-tools {
    position: absolute;
    right: 10px;
    top: 5px;
}

.box-header > .box-tools [data-toggle="tooltip"] {
    position: relative;
}

.box-header > .box-tools.pull-right .dropdown-menu {
    right: 0;
    left: auto;
}

.btn-box-tool {
    padding: 5px;
    font-size: 12px;
    background: transparent;
    box-shadow: none !important;
    color: #97a0b3;
}

.open .btn-box-tool,
.btn-box-tool:hover {
    color: #606c84;
}

.btn-box-tool:active {
    outline: none !important;
}

.box-body {
    border-top-left-radius: 0;
    border-top-right-radius: 0;
    border-bottom-right-radius: 3px;
    border-bottom-left-radius: 3px;
    padding: 10px;
}

.no-header .box-body {
    border-top-right-radius: 3px;
    border-top-left-radius: 3px;
}

.box-body > .table {
    margin-bottom: 0;
}

.box-body .fc {
    margin-top: 5px;
}

.box-body .full-width-chart {
    margin: -19px;
}

.box-body.no-padding .full-width-chart {
    margin: -9px;
}

.box-body .box-pane {
    border-top-left-radius: 0;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 3px;
}

.box-body .box-pane-right {
    border-top-left-radius: 0;
    border-top-right-radius: 0;
    border-bottom-right-radius: 3px;
    border-bottom-left-radius: 0;
}

.box-footer {
    border-top-left-radius: 0;
    border-top-right-radius: 0;
    border-bottom-right-radius: 3px;
    border-bottom-left-radius: 3px;
    border-top: 1px solid #f4f4f4;
    padding: 10px;
    background-color: #ffffff;
}

/*Quiz*/
.user-friends.box {
    border-radius: 1px 1px 0 0;
}

#user-friends .box-body {
    padding: 0 0 10px 0;
}

#user-friends {
    position: fixed;
    width: 260px;
    bottom: -20px;
    right: 6px;
    z-index: 100;
}

#user-friends .box-header {
    padding: 8px 10px 3px 10px;
}

#user-friends .box-header .box-title {
    font-size: 16px;
}

#user-friends ul {
    list-style: none;
    padding: 0;
}

#user-friends ul li {
    display: block;
    width: 100%;
    float: left;
    padding: 6px 10px;
    border-bottom: 1px dotted #eee;
}

#user-friends ul li:hover {
    background: #F9F9F9;
}

#user-friends ul li img {
    margin-right: 5px;
    padding: 2px;
    border: 1px solid #eee;
}

/*Admin LTE*/
.direct-chat-messages a.btn-warning {
    border-radius: 50%
}

.direct-chat-messages {
    -webkit-transform: translate(0, 0);
    -ms-transform: translate(0, 0);
    -o-transform: translate(0, 0);
    transform: translate(0, 0);
    height: 220px;
    overflow: auto;
}

.direct-chat-messages,
.direct-chat-contacts {
    -webkit-transition: -webkit-transform 0.5s ease-in-out;
    -moz-transition: -moz-transform 0.5s ease-in-out;
    -o-transition: -o-transform 0.5s ease-in-out;
    transition: transform 0.5s ease-in-out;
}

/*Main Quiz*/
#fight-quiz {
    background: #fff;
    border: 1px solid #eee;
    border-radius: 2px;
}

.fight-users {
    /*float: left;*/
    padding: 10px 0;
    width: 100%;
    margin-top: 5px;
}

.fight-user img {
    border: 1px solid #eee;
    /*background: url("images/background-user.jpg") #eee;*/
    background-color: rgb(133, 216, 195);
    border-radius: 2px;
    width: 64px;
    height: 64px;
}

#fight-progress {
    border-radius: 0;
    position: relative;
    top: -1px;
    margin: -1px;
    height: 10px;
}

.fight-vs .fight-score {
    text-transform: uppercase;
}

#fight-challenger .fight-user-img {
    float: left;
    margin-right: 5px;
}

#fight-re-challenger .fight-user-img {
    float: right;
    margin-left: 5px;
}

#fight-quiz-header {
    border-bottom: 1px solid #eee;
    float: left;
    width: 100%;
    padding: 0 15px 10px 15px;
}

.fight-vs {
    font-family: 'Lato', Arial, sans-serif;
    font-size: 28px;
    font-weight: bold;
    position: absolute;
    text-align: center;
    top: 80px;
    right: 0;
    float: left;
    width: 100%;
}

.user-display-name-block {
    height: 10px;
}

#fight-quiz-body {
    position: relative;
    min-height: 465px;
    padding-bottom: 40px;
}

#fight-nav-top {
    margin-top: 5px;
    display: block !important;
}

#fight-nav-bottom {
    display: none !important;
}

#fight-nav-bottom {
    position: absolute;
    bottom: 4px;
}

.fight-nav .btn-previous, .fight-nav .btn-next {
    border-radius: 0 0 0 0;
}

.fight-nav .btn-mark {
    border-radius: 4px 0 0 4px;
}

.fight-nav .btn-success {
    border-radius: 0 4px 4px 0;
}

.fight-ended {
    font-size: 28px;
    font-family: 'Lato', Arial, sans-serif;
    margin: 55px 0 40px 0;
    display: none;
}

@media (min-width: 768px) {
    #fight-nav-top {
        display: none !important;
    }

    #fight-nav-bottom {
        display: block !important;
    }
}

/*Fight User Tooltip when Hover Avatar*/
.qtip {
    width: 300px;
}

.qtip-content {
    padding: 0 !important;
    background: #fff;
    border: 1px solid #c0c0c0;
    -webkit-box-shadow: -8px 6px 105px -26px rgba(26, 26, 26, 1);
    -moz-box-shadow: -8px 6px 105px -26px rgba(26, 26, 26, 1);
    box-shadow: -8px 6px 105px -26px rgba(26, 26, 26, 1);
    position: relative;
    left: -20px;
    top: 15px;
}

.qtip-tip {
    display: none !important;
}

.qtip-default {
    background-color: transparent !important;
    border: none !important;
}

.ut-user-avatar {
    margin-right: 5px;
}

.ut-user-avatar img {
    border-radius: 64px;
}

.ut-user-info {
    font-family: 'Helvetica Neue', Arial, sans-serif;
    margin-top: 1px;
    line-height: 20px;
    font-size: 14px;
}

.ut-info {
    padding: 20px 10px;
}

.ut-user-avatar {
    position: relative;
    z-index: 100;
}

.ut-info-text {
    position: relative;
    z-index: 1;
    width: 220px;
    top: -3px;
}

.ut-add-friend {
    border-top: 1px solid #c0c0c0;
    padding: 9px 0;
    font-family: 'Lato', Arial, sans-serif;
    font-size: 14px;
    background: #eee;
}

.ut-info:before {
    content: '';
    position: absolute;
    top: 0;
    bottom: 0;
    width: 100%;
    background: #19B58D;
    left: 0;
    margin: 0;
    height: 65px;
    z-index: 0;
}

.ut-display-name {
    margin-top: 27px;
    font-family: 'Lato', Arial, sans-serif;
    font-size: 18px;
    color: #fff;
    display: block;
    overflow: hidden;
    height: 20px;
    line-height: 20px;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.ut-fight a {
    color: #fff;
}

.ut-fight {
    position: absolute;
    top: 43px;
    height: 40px;
    width: 40px;
    padding-top: 9px;
    float: left;
    font-size: 20px;
    left: 230px;
    background-color: #FA9A11;
    border-radius: 40px;
    text-align: center;
    z-index: 100;
}

/*Find Friends*/
#find-friends {
    position: relative;
    width: 60%;
    margin: 20px auto;
}

#find-friends input#s {
    width: 100%;
    padding-right: 60px;
    border-radius: 0;
}

#find-friends input.btn {
    position: absolute;
    top: 0;
    right: 0;
    border-radius: 0;
}

/*Fight Score View*/
#fight-score-circle {
    margin: 20px auto 0 auto;
    width: 290px;
    height: 290px;
    border-radius: 290px;
    background: #fff;
    -webkit-box-shadow: -8px 6px 105px -26px rgba(26, 26, 26, 1);
    -moz-box-shadow: -8px 6px 105px -26px rgba(26, 26, 26, 1);
    box-shadow: -8px 6px 105px -26px rgba(26, 26, 26, 1);
}

.circle-success {
    background: #FF6600;
}

.circle-fail {
    background: #0A0A0A;
}

.circle-bottom, .circle-top {
    height: 145px;
    width: 290px;
}

.circle-top {
    border-radius: 290px 290px 0 0;
}

.circle-bottom {
    border-radius: 0 0 290px 290px;
}

.score-circle {
    position: relative;
}

.circle-success .cir {
    background: chocolate !important;
}

.circle-fail .cir {
    background: #000 !important;
}

.fight-score-u1, .fight-score-u2 {
    font-size: 28px !important;
    font-family: 'Lato', Arial, sans-serif !important;
}

.score-circle * {
    color: #fff;
    font-family: 'Lato', Arial, sans-serif;
    font-weight: bold;
    font-size: 16px;
}

.score-circle img {
    background: #fff;
    border-radius: 64px;
    padding: 2px;
    position: absolute;
}

.score-circle.circle-top img {
    bottom: 0;
    left: 40px;
}

.score-circle.circle-bottom img {
    top: 0;
    right: 40px;
}

#fight-score-name1 {
    position: absolute;
    text-align: right;
    bottom: 18px;
    right: 257px;
    width: 100%;
}

#fight-score-name2 {
    position: absolute;
    text-align: left;
    top: 23px;
    left: 260px;
    width: 100%;
}

.fight-score-u1 {
    position: relative;
    top: 50px;
    left: 32px;
}

.fight-score-u2 {
    position: relative;
    top: 50px;
    left: -18px;
}

.home-main {
    padding: 0;
}

#my-profile ul {
    list-style: none;
    padding: 0;
    font-size: 16px;
}

#my-profile ul li {
    margin-top: 10px;
    padding-bottom: 10px;
    margin-left: 5px;
    border-bottom: 1px solid #f1f1f1;
}

#my-profile ul li:first-child {
    margin-top: 0;
}

.find-friend-list {
    border-top: 1px dotted #f1f1f1;
    padding: 8px 25px 5px 20px;
}

.find-friend-list.odd {
    border-right: 1px dotted #f1f1f1;
}

.find-result {
    border-bottom: 1px dotted #f1f1f1;
}

#my-profile ul.pagination {
    font-size: 13px
}

#my-profile ul.pagination li {
    margin: 0px;
}

a.btn, .form-control, button, input, select {
    border-radius: 0 !important;
}

/*Notification*/
.notifyjs-bootstrap-base {
    /*padding: 6px 15px 6px 14px;*/
    padding: 20px 20px 20px 40px !important;
    border-radius: 0 !important;
}

.notifyjs-corner {
    top: 58px !important;
}

.notifyjs-container {
    background: #DFF0D8 !important;
}

.notifyjs-bootstrap-error {
    color: #B94A48;
    border-color: #EED3D7;
    background: url('images/error.png') #F2DEDE 20px 22px no-repeat !important;
}

.notifyjs-bootstrap-success {
    color: #468847;
    border-color: #D6E9C6;
    background: url('images/success.png') #DFF0D8 20px 22px no-repeat !important;
}

.notifyjs-bootstrap-warning {
    color: #C09853;
    border-color: #FBEED5;
    background: url('images/warning.png') #FCF8E3 20px 22px no-repeat !important;
}

/*
 * Component: Timeline
 * -------------------
 */
.bg-red {
    background-color: #dd4b39 !important;
    color: #fff !important;
}

.timeline {
    border-top: 3px solid #229074;
    position: relative;
    margin: 0px 0 30px 0;
    padding: 27px 0px 0px 0px;
    list-style: none;
}

.timeline:before {
    content: '';
    position: absolute;
    top: 0px;
    bottom: 0;
    width: 4px;
    background: #229074;
    left: 18px;
    margin: 0;
}

.timeline > li {
    position: relative;
    margin-bottom: 15px;
}

.timeline > li:before,
.timeline > li:after {
    content: " ";
    display: table;
}

.timeline > li:after {
    clear: both;
}

.timeline > li > .timeline-item {
    -webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
    border-radius: 3px;
    margin-top: 0px;
    background: #fff;
    color: #444;
    margin-left: 48px;
    margin-right: 0px;
    padding: 0;
    position: relative;
}

.timeline > li > .timeline-item > .time {
    color: #999;
    float: right;
    padding: 10px;
    font-size: 12px;
}

.timeline > li > .timeline-item > .timeline-header {
    margin: 0;
    color: #555;
    border-bottom: 1px solid #f4f4f4;
    padding: 10px;
    font-size: 16px;
    line-height: 1.1;
}

.timeline > li > .timeline-item > .timeline-header > a {
    font-weight: 600;
}

.timeline > li > .timeline-item > .timeline-body,
.timeline > li > .timeline-item > .timeline-footer {
    padding: 10px;
    background: #fff;
}

.timeline-body-fight img {
    cursor: pointer;
    border-radius: 50%;
    border: 1px solid #eee;
    background-color: white;
    width: 64px;
    height: 64px;
}

.timeline-body-fight h3 {
    font-weight: normal;
    color: #229074;
    font-size: 18px;
}

.timeline-body-fight-middle h3 span {
    color: #FF9D11;
}

.timeline > li.time-label > span {
    font-weight: 600;
    padding: 5px;
    display: inline-block;
    background-color: #fff;
    border-radius: 4px;
}

.timeline > li > .fa,
.timeline > li > .glyphicon,
.timeline > li > .ion {
    width: 30px;
    height: 30px;
    font-size: 15px;
    line-height: 30px;
    position: absolute;
    color: #fff;
    background: #FF9D11;
    border-radius: 50%;
    text-align: center;
    left: 5px;
    top: 5px;
}

/*
 * Component: Products List
 * ------------------------
 */
.products-list {
    list-style: none;
    margin: 0;
    padding: 0;
}

.products-list > .item {
    border-radius: 3px;
    -webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
    padding: 10px 0;
    background: #fff;
}

.products-list > .item:before,
.products-list > .item:after {
    content: " ";
    display: table;
}

.products-list > .item:after {
    clear: both;
}

.products-list .product-img {
    float: left;
}

.products-list .product-img img {
    width: 40px;
    height: 40px;
}

.products-list .product-info {
    margin-left: 50px;
}

.products-list .product-title {
    font-weight: 600;
}

.products-list .product-description {
    display: block;
    color: #999;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    font-size: 14px;
}

.product-list-in-box > .item {
    -webkit-box-shadow: none;
    box-shadow: none;
    border-radius: 0;
    border-bottom: 1px solid #f4f4f4;
}

.product-list-in-box > .item:last-of-type {
    border-bottom-width: 0;
    padding-bottom: 4px;
}

/*
 * Component: Users List
 * ---------------------
 */
.users-list > li {
    width: 33%;
    float: left;
    padding: 10px;
    text-align: center;
}

.users-list > li img {
    border-radius: 50%;
    max-width: 100%;
    height: auto;
}

.users-list > li > a:hover,
.users-list > li > a:hover .users-list-name {
    color: #999;
}

.users-list-name,
.users-list-date {
    display: block;
}

.users-list-name {
    font-weight: 600;
    color: #00B992;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    font-size: 13px;
}

.users-list-date {
    color: #999;
    font-size: 12px;
}

.users-list {
    list-style: none;
    margin: 0;
    padding: 0;
}

/*Ninja*/
#ichizoku {
    width: 99%;
    margin: auto;
}

.ninja {
    width: 180px;
    height: 200px;
    position: relative;
    margin: 100px 10px;
    float: left;
}

.ninja .n--head {
    width: 140px;
    height: 140px;
    background: #000;
    /*border-radius*/
    -webkit-border-radius: 100%;
    -moz-border-radius: 100%;
    border-radius: 100%;
    margin: -70px auto;
    overflow: hidden;
}

/* Eyes */
.ninja .n--head .n--eyes {
    display: block;
    width: 300px;
    height: 300px;
    background: #000;
    border: 40px solid #f0d4a6;
    /*border-radius*/
    -webkit-border-radius: 100%;
    -moz-border-radius: 100%;
    border-radius: 100%;
    margin: 35% -85%;
}

.ninja .n--head .n--eyes:before {
    content: '';
    display: block;
    width: 120px;
    height: 120px;
    background: transparent;
    border: 10px solid #000;
    position: absolute;
    margin: -49% 44%;
    /*border-radius*/
    -webkit-border-radius: 100%;
    -moz-border-radius: 100%;
    border-radius: 100%;
}

.ninja .n--head .n--eyes:after {
    content: '';
    display: block;
    width: 20px;
    height: 20px;
    background: #000;
    position: absolute;
    margin: -14% 60%;
    /*border-radius*/
    -webkit-border-radius: 100%;
    -moz-border-radius: 100%;
    border-radius: 100%;
    /*box-shadow*/
    -webkit-box-shadow: 62px 0px 0;
    -moz-box-shadow: 62px 0px 0;
    box-shadow: 62px 0px 0;
}

.ninja .n--head .n--ribbon {
    position: absolute;
    width: 10px;
    height: 0;
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    border-top: 40px solid #000;
    margin: -10px 105px;
    /*transform*/
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    transform: rotate(45deg);
}

.ninja .n--head .n--ribbon:after {
    content: '';
    display: block;
    width: 30px;
    height: 30px;
    background: #fff;
    /*border-radius*/
    -webkit-border-radius: 20000000%;
    -moz-border-radius: 20000000%;
    border-radius: 20000000%;
    margin: -60px -10px;
}

.ninja .n--body {
    width: 64%;
    height: 50%;
    background: #000;
    margin: 60px auto;
}

.ninja .n--body:after {
    content: '';
    display: block;
    background: #333;
    width: 100%;
    height: 10px;
    margin-top: 60%;
    z-index: 1;
    position: relative;
}

.ninja .n--body .n--weapon {
    width: 130px;
    height: 10px;
    /*border-radius*/
    -webkit-border-radius: 100px;
    -moz-border-radius: 100px;
    border-radius: 100px;
    z-index: -1;
    /*transform*/
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    transform: rotate(45deg);
    position: absolute;
    border: 1px solid #ccc;
    margin: auto -32%;
}

.ninja .n--arm {
    width: 50%;
    height: 55%;
    background: #000;
    /*border-radius*/
    -webkit-border-radius: 100px;
    -moz-border-radius: 100px;
    border-radius: 100px;
}

.ninja .n--arm:nth-child(2) {
    margin: 0 -25%
}

.ninja .n--arm:nth-child(3) {
    margin: -48% 75%
}

.ninja .n--leg {
    width: 45%;
    height: 75%;
    float: left;
    background: #000;
    /*border-radius*/
    -webkit-border-radius: 100px;
    -moz-border-radius: 100px;
    border-radius: 100px;
    margin-top: 60px;
}

.ninja .n--body .n--leg:nth-child(4) {
    margin-left: 0px
}

.ninja .n--body .n--leg:nth-child(5) {
    margin-left: 10%
}

/* Color the ninja */
.ninja.red .n--weapon {
    background: #e74c3c;
    border-color: #c0392b;
}

.ninja.red .n--body:after {
    background: #e74c3c
}

.ninja.blue .n--weapon {
    background: #3498db;
    border-color: #2980b9;
}

.ninja.blue .n--body:after {
    background: #3498db
}

.ninja.green .n--weapon {
    background: #2ecc71;
    border-color: #27ae60;
}

.ninja.green .n--body:after {
    background: #2ecc71
}

.ninja.yellow .n--weapon {
    background: #f1c40f;
    border-color: #f39c12;
}

.ninja.yellow .n--body:after {
    background: #f1c40f
}

@media (min-width: 480px) {
    #fight-quiz-container {
        border-top: 3px solid #229074;
    }

    .timeline {
        margin-top: 20px;
    }
}

@media (min-width: 640px) {
    .timeline-body-fight img {
        width: 64px;
        height: 64px;
    }

    .timeline-body-fight h3 {
        font-size: 24px;
    }
}

@media (min-width: 768px) {

    #my-profile .box {
        min-height: 500px;
    }
}

@media (max-width: 767px) {
    .navbar-default .navbar-nav .open .dropdown-menu > li > a {
        color: #FFF;
    }

    .btn-header-extra.text-right {
        display: none;
    }

    .navbar-default .navbar-nav .open .dropdown-menu > li > a:focus, .navbar-default .navbar-nav .open .dropdown-menu > li > a:hover {
        color: rgba(254, 254, 254, 0.72);
        background-color: transparent;
    }

    /*.navbar-default .navbar-brand, .navbar-default .navbar-nav > li > a > span{*/
    /*display: inline;*/
    /*}*/
}

/* Medium devices (desktops, 992px and up) */
@media (min-width: 992px) {
    .fight-user img {
        width: 64px;
        height: 64px;
    }

    .navbar {
        margin-bottom: 15px;
    }

}

/* Large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {
    .fight-user img {
        width: 64px;
        height: 64px;
    }

    .navbar {
        margin-bottom: 15px;
    }
}